# World Cup Prediction Model
### By: David Hoffman and Kyle Kolodziej

## 1. Problem Definition

For this project we would like to take the most recent world cup data (including each team that is playing in the tournament and the different statistical evaluations for these teams) and use this data to predict the percentage for success that a user imputed team has.  The user will be able to input a specific team and different attack and defense ratings for that team and the model will be able to remove that team from the dataset and predict the success percentage for that team given the inputed data.  This will allow a person to see the success percentages of their chosen team given its current data or in a hypothetical situation where its attack or defense is better than it actually is.

## 2. Data Gathering

In [3]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

# Code on how to get data extracted from all the teams for all years on both pages of FIFA's International rankings
data = pd.DataFrame(columns=['Year', 'Team', 'att', 'mid', 'def', 'ovr'])
version = 0
for fifa in range(5, 24):
    toFind = True
#     print("On fifa ", fifa)
    while toFind:
        version += 1
        for page in range(2):
            # https://www.fifaindex.com/teams/fifa22_527/?page=1&type=1
            webAddress = ""
            toCheck = "" # check matching version in responses title
            if fifa < 10:
                toCheck = '0' + str(fifa)
                webAddress = 'https://www.fifaindex.com/teams/fifa0' + str(fifa) + '_' + str(version) + '/?page=' + str(page+1)+'&type=1'
            elif fifa < 23:
                toCheck = str(fifa)
                
                webAddress = 'https://www.fifaindex.com/teams/fifa' + str(fifa) + '_' + str(version) + '/?page=' + str(page+1)+'&type=1'
            else:
                # Get current stats
                toCheck = str(fifa - 1)
                webAddress = 'https://www.fifaindex.com/teams/?page=' + str(page+1) + '&type=1'
            r = requests.get(webAddress)

            if r.status_code != 200:
                #print("Error getting web address")
                version += 1
                break
                
            soup = BeautifulSoup(r.content, 'html.parser')
            
            if toCheck not in str(soup.title):
#                 print("not in title!")
#                 print("Title: " + str(soup.title))
#                 print("Fifa: " + toCheck + "\n")
                break
            else:
                toFind = False
            s = soup.find('table', class_='table table-striped table-teams')
            content = s.find_all('td')
            
            year = 1999 + fifa # Need to update
            team, attRate, midRate, defRate, ovrRate  = '', None, None, None, None
            #textLines = []
            i = 0
            for line in content:
                
                if line.text != '' and line.text != 'International' and line.text != '\n\n' and line.text != "Men's National":
                    # textLines was keeping track of all lines parsed, useful for seeing which index corresponds with an attribute
                    # textLines.append(line)
                    # Assign value to respective variable
                    if i == 0:
                        team = line.text
                    elif i == 1:
                        attRate = line.text
                    elif i == 2:
                        midRate = line.text
                    elif i == 3:
                        defRate = line.text
                    elif i == 4:
                        ovrRate = line.text
                        df2 = pd.DataFrame({'Year': [year],
                                'Team': [team],
                                'att': [attRate],
                                'mid': [midRate],
                                'def': [defRate],
                                'ovr': [ovrRate]})
                        data = data.append(df2, ignore_index = True)

                    # Update i
                    # If i is at 5, reset to 0 as at the start of a new team in the content
                    i += 1
                    if i == 5:
                        i = 0

here
here

In [4]:
data.head(1)

   Year    Team att mid def ovr
0  2004  France  94  89  84  88

In [5]:
data.tail(1)

     Year         Team att mid def ovr
820  2022  New Zealand  69  67  68  68

Nice got all the of the stats on each team from 2004

Fifa is missing some of the world cup teams so will need to impute them based off of world cup rankings
* impute rankings from https://www.fifa.com/fifa-world-ranking

In [38]:
def parseFifaRankData(page_source, year):
    # Function to parse a page on a Fifa Ranking page
    # Inserts the Team Name along with their Points and Overall Rank for the respective year into the data frame points
    # Points and Overall Rank will be normalized
    
    soup = BeautifulSoup(page_source, 'lxml')
    s = soup.find_all('tr', class_='fc-ranking-item-full_rankingTableFullRow__1nbp7')
    pointArr = []
    rankArr = []
    nameArr = []
    yearArr = []
    for line in s:
        # Each line contains the container for a team
        teamName = line.find('span', class_='d-none d-lg-block').text
        nameArr.append(teamName)
        teamPoints = line.find('div', class_="d-flex ff-mr-16").text
        pointArr.append(float(teamPoints))
        teamRank = line.find('h6', class_="ff-m-0").text
        rankArr.append(float(teamRank))
        yearArr.append(year)
        
    return pointArr, rankArr, nameArr, yearArr

In [156]:
from decimal import Decimal
def normalizePointAndRankArr(pointArr, rankArr):
    # Normalize on scale from 0.1 to 3.1
    t_max = 3
    t_min = 0.1
    diff = t_max - t_min
    diff_arr_points = max(pointArr) - min(pointArr)
    normPointArr = []
    for num in pointArr:
        temp = (((num - min(pointArr))*t_max)/diff_arr_points) + t_min
        normPointArr.append(temp)
    
    diff_arr_rank = max(rankArr) - min(rankArr)
    normRankArr = []
    for num in rankArr:
        temp = (((num - min(rankArr))*t_max)/diff_arr_rank) + t_min
        temp = t_max - temp
        temp = temp + t_min + t_min
#         toAdd = t_max - temp + t_min
#         toAdd = Decimal(toAdd)
        normRankArr.append(temp)
    
    return normPointArr, normRankArr

In [157]:
def addToPointsDF(points, pointArrNorm, rankArrNorm, nameArr, yearArr):
    df2 = pd.DataFrame({'Year': yearArr,
                    'Team': nameArr,
                    'Points': pointArrNorm,
                    'Rank': rankArrNorm})
    points = points.append(df2, ignore_index = True)
    return points

In [158]:
# Need to use the driver: https://stackoverflow.com/questions/52687372/beautifulsoup-not-returning-complete-html-of-the-page
import time
from bs4 import BeautifulSoup
from selenium import webdriver
import numpy as np

points = pd.DataFrame(columns=['Year', 'Team', 'Points', 'Rank'])

url = "https://www.fifa.com/fifa-world-ranking/men?dateId=id13603"
driver = webdriver.Chrome(executable_path=r"C:/Users/Kyle/Downloads/chromedriver_win32/chromedriver.exe")
driver.get(url)
time.sleep(3) #if you want to wait 3 seconds for the page to load
driver.find_element_by_xpath("//button[@id='onetrust-accept-btn-handler']").click()


for year in range(2004, 2023):
    # Get data of top 100 teams from 2004 to 2022 in February
    date = 'Feb ' + str(year)
    xPath = "//button[@class='ff-dropdown_dropupContentButton__3WmBL' and contains(.,'" + date + "')]"
    driver.find_element_by_xpath("//div[@class='ff-dropdown_dropup__3DoLH null ']").click()
    driver.find_element_by_xpath(xPath).click() # click to this year
    time.sleep(1) # wait for the page to load for 1 sec
    #points = parseFifaRankData(points, driver.page_source, year)
    pointArr1, rankArr1, nameArr1, yearArr1 = parseFifaRankData(driver.page_source, year)
    
    driver.find_element_by_xpath("//div[@aria-label='Go to Page 2']").click() # page 2
    time.sleep(1) # wait for the page to load for 1 sec
    #points = parseFifaRankData(points, driver.page_source, year)
    pointArr2, rankArr2, nameArr2, yearArr2 = parseFifaRankData(driver.page_source, year)
    
    pointArr = pointArr1 + pointArr1
    rankArr = rankArr1 + rankArr2
    nameArr = nameArr1 + nameArr2
    yearArr = yearArr1 + yearArr2
    
    pointArrNorm, rankArrNorm = normalizePointAndRankArr(pointArr, rankArr)
    points = addToPointsDF(points, pointArrNorm, rankArrNorm, nameArr, yearArr)

C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  del sys.path[0]
C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead

In [159]:
points.head(5)

   Year         Team    Points      Rank
0  2004       Brazil  3.100000  3.100000
1  2004       France  2.909859  3.069697
2  2004        Spain  2.561268  3.039394
3  2004  Netherlands  2.075352  3.009091
4  2004       Mexico  2.001408  2.978788

In [160]:
points.tail(5)

      Year               Team    Points      Rank
1895  2022    Kyrgyz Republic  0.214689  0.221212
1896  2022              Congo  0.197829  0.190909
1897  2022            Vietnam  0.146092  0.160606
1898  2022  Equatorial Guinea  0.129078  0.130303
1899  2022          Palestine  0.100000  0.100000

Nice got all the points and rank in there with the teams (with points and rank normalized by year)

# Align the Team Name's Syntax Between Points and Data

In [161]:
pointsTeams = points["Team"].unique()
dataTeams = data["Team"].unique()
pointsTeamsNotInData = np.setdiff1d(pointsTeams, dataTeams)
dataTeamsNotInPoints = np.setdiff1d(dataTeams, pointsTeams)

In [162]:
pointsTeamsNotInData

array(['Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Armenia',
       'Azerbaijan', 'Bahrain', 'Belarus', 'Benin',
       'Bosnia and Herzegovina', 'Botswana', 'Burkina Faso', 'Cabo Verde',
       'Cape Verde Islands', 'Central African Republic', 'Congo',
       'Congo DR', 'Cuba', 'Curacao', 'Curaçao', 'Cyprus',
       'Dominican Republic', 'El Salvador', 'Equatorial Guinea',
       'Estonia', 'Ethiopia', 'FYR Macedonia', 'Faroe Islands', 'Gabon',
       'Gambia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'IR Iran',
       'Indonesia', 'Iraq', 'Israel', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea DPR', 'Kuwait', 'Kyrgyz Republic',
       'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Moldova',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Niger',
       'North Macedonia', 'Oman', 'Palestine', 'Panama', 'Qatar',
       'Rwanda', 'Senegal', 'Serbia and Montenegro', 'Sierra Leone',
       'Singapore', 'Slovakia', 'St. Kitts and Nevis',
       'St. Vincent and the Grenadines', 'Sudan', 'Swaziland', 'Syria',
       'Thailand', 'Togo', 'Trinidad and Tobago', 'Turkmenistan',
       'Uganda', 'United Arab Emirates', 'Uzbekistan', 'Vietnam',
       'Zambia', 'Zimbabwe'], dtype=object)

In [163]:
dataTeamsNotInPoints

array(['India'], dtype=object)

In [164]:
pointsTeams.sort()
pointsTeams

array(['Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Belarus', 'Belgium', 'Benin', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Cabo Verde',
       'Cameroon', 'Canada', 'Cape Verde Islands',
       'Central African Republic', 'Chile', 'China PR', 'Colombia',
       'Congo', 'Congo DR', 'Costa Rica', 'Croatia', 'Cuba', 'Curacao',
       'Curaçao', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Estonia', 'Ethiopia', 'FYR Macedonia',
       'Faroe Islands', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'IR Iran', 'Iceland', 'Indonesia', 'Iraq', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Korea DPR',
       'Korea Republic', 'Kuwait', 'Kyrgyz Republic', 'Latvia', 'Lebanon',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Mali', 'Mauritania', 'Mexico', 'Moldova', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Netherlands', 'New Zealand',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Ireland',
       'Norway', 'Oman', 'Palestine', 'Panama', 'Paraguay', 'Peru',
       'Poland', 'Portugal', 'Qatar', 'Republic of Ireland', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'St. Kitts and Nevis', 'St. Vincent and the Grenadines', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'USA',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Wales', 'Zambia',
       'Zimbabwe'], dtype=object)

In [165]:
dataTeams.sort()
dataTeams

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia',
       'Brazil', 'Bulgaria', 'Cameroon', 'Canada', 'Chile', 'China PR',
       'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic',
       "Côte d'Ivoire", 'Denmark', 'Ecuador', 'Egypt', 'England',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'India', 'Italy', 'Korea Republic', 'Mexico', 'Netherlands',
       'New Zealand', 'Nigeria', 'Northern Ireland', 'Norway', 'Paraguay',
       'Peru', 'Poland', 'Portugal', 'Republic of Ireland', 'Romania',
       'Russia', 'Saudi Arabia', 'Scotland', 'Serbia', 'Slovenia',
       'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Tunisia',
       'Turkey', 'USA', 'Ukraine', 'Uruguay', 'Venezuela', 'Wales'],
      dtype=object)

Team names to change in data...
* Austria (National team) --> Austria
* Holland --> Netherlands
* Rep. Of Korea --> Korea Republic
* United States --> USA
* Republic Of Ireland --> Republic of Ireland

Team names to change in points...
* Korea DPR --> Korea Republic

In [166]:
data.loc[data["Team"] == "Austria (National team)", "Team"] = "Austria"
data.loc[data["Team"] == "Holland", "Team"] = "Netherlands"
data.loc[data["Team"] == "Rep. Of Korea", "Team"] = "Korea Republic"
data.loc[data["Team"] == "United States", "Team"] = "USA"
data.loc[data["Team"] == "Republic Of Ireland", "Team"] = "Republic of Ireland"
points.loc[points["Team"] == "Korea DPR", "Team"] = "Korea Republic"

# Impute Each Team's OVR with OHE the Year

* Merge the data frames points and data on Year and Team
* Drop the NaN's
* Drop the columns Team, att, mid, def
* OHE the years

Now would be able to train/test split for imputing...
* y = ovr
* x = everything else (year OHE, points, rank)

In [167]:
dataToImpute = pd.merge(points, data, how='left', on=['Year','Team'])
dataToImpute = dataToImpute.dropna()
dataToImpute.head(5)

   Year       Team    Points      Rank att mid def ovr
0  2004     Brazil  3.100000  3.100000  92  88  87  88
1  2004     France  2.909859  3.069697  94  89  84  88
2  2004      Spain  2.561268  3.039394  90  88  86  88
4  2004     Mexico  2.001408  2.978788  70  71  68  70
5  2004  Argentina  1.990845  2.948485  86  85  87  85

In [168]:
# Drop the columns
dataToImpute = dataToImpute.drop(columns=['Team', 'att', 'mid', 'def'])
dataToImpute.head(1)

   Year  Points  Rank ovr
0  2004     3.1   3.1  88

In [169]:
len(dataToImpute)

796

In [170]:
ohe_data = pd.get_dummies(dataToImpute, columns = ['Year'])
ohe_data["Year"] = dataToImpute["Year"]
ohe_data.head(3)

,Points,Rank,ovr,Year_2004,Year_2005,Year_2006,Year_2007,Year_2008,Year_2009,Year_2010,...,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Year_2020,Year_2021,Year_2022,Year
0,3.100000,3.100000,88,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2004
1,2.909859,3.069697,88,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2004
2,2.561268,3.039394,88,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2004

In [171]:
ohe_data.tail(3)

,Points,Rank,ovr,Year_2004,Year_2005,Year_2006,Year_2007,Year_2008,Year_2009,Year_2010,...,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Year_2020,Year_2021,Year_2022,Year
1856,2.143359,1.403030,71,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2022
1859,1.748794,1.312121,70,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2022
1874,0.926330,0.857576,70,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2022

# Predict the Overall

Start with a train test split, stratifying on the years

In [172]:
from sklearn.model_selection import train_test_split
X = ohe_data.drop(columns=['ovr', 'Year'])
y = ohe_data['ovr']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=ohe_data.Year)

In [173]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lm_ovr = LinearRegression()
lm_ovr.fit(X_train,y_train)
lm_predictions_ovr = lm_ovr.predict(X_test)

lin_mse = mean_squared_error(y_test, lm_predictions_ovr)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

3.242400520787563

Not too bad, overall is off by a little over 3 on average with the linear regression model

Let's do a regression tree next

In [174]:
from sklearn.tree import DecisionTreeRegressor

tree_reg_ovr = DecisionTreeRegressor()
tree_reg_ovr.fit(X_train, y_train)
tree_predictions_ovr = tree_reg_ovr.predict(X_test)
tree_mse = mean_squared_error(y_test, tree_predictions_ovr)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

4.333012808658658

Decision tree regressor performs a little worse than the linear regression

Now let's try a random forest regressor

In [175]:
from sklearn.ensemble import RandomForestRegressor
forest_reg_ovr = RandomForestRegressor()
forest_reg_ovr.fit(X_train, y_train)
forest_predictions_ovr = forest_reg_ovr.predict(X_test)
forest_mse = mean_squared_error(y_test, forest_predictions_ovr)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

3.3848355964519907

Random forest regressor performs even better...nice!

# Using Random Forest Regressor Model to Predict the Overall's with OHE

In [176]:
imputedOveralls = points.copy()
imputedOveralls = pd.get_dummies(imputedOveralls, columns = ['Year'])

xImpute = imputedOveralls.drop(columns=['Team'])

overall_predictions = forest_reg_ovr.predict(xImpute)
overall_predictions = np.round(overall_predictions)
overall_predictions

array([87., 87., 86., ..., 67., 67., 67.])

In [177]:
points['ovr'] = overall_predictions.astype(int)
points.head(2)

   Year    Team    Points      Rank  ovr
0  2004  Brazil  3.100000  3.100000   87
1  2004  France  2.909859  3.069697   87

In [178]:
points.tail(100)

      Year               Team    Points      Rank  ovr
1800  2022            Belgium  3.100000  3.100000   83
1801  2022             Brazil  3.061100  3.069697   81
1802  2022             France  2.772871  3.039394   82
1803  2022          Argentina  2.624696  3.009091   83
1804  2022            England  2.535992  2.978788   83
1805  2022              Italy  2.421922  2.948485   82
1806  2022              Spain  2.143359  2.918182   83
1807  2022           Portugal  1.799216  2.887879   81
1808  2022            Denmark  1.755058  2.857576   80
1809  2022        Netherlands  1.748794  2.827273   81
1810  2022            Germany  1.707032  2.796970   83
1811  2022             Mexico  1.703707  2.766667   80
1812  2022                USA  1.668442  2.736364   77
1813  2022        Switzerland  1.664498  2.706061   79
1814  2022            Croatia  1.493664  2.675758   77
1815  2022            Uruguay  1.441926  2.645455   78
1816  2022             Sweden  1.242478  2.615152   77
1817  2022            Senegal  1.238766  2.584848   77
1818  2022           Colombia  1.224149  2.554545   77
1819  2022              Wales  1.163209  2.524242   74
1820  2022            IR Iran  1.123613  2.493939   75
1821  2022               Peru  1.050608  2.463636   77
1822  2022              Japan  0.945200  2.433333   76
1823  2022            Morocco  0.926640  2.403030   75
1824  2022             Serbia  0.926330  2.372727   73
1825  2022              Chile  0.893695  2.342424   74
1826  2022            Ukraine  0.831207  2.312121   76
1827  2022             Poland  0.796716  2.281818   76
1828  2022     Korea Republic  0.736626  2.251515   76
1829  2022            Austria  0.649314  2.221212   76
...    ...                ...       ...       ...  ...
1870  2022           Bulgaria  1.123613  0.978788   70
1871  2022         Montenegro  1.050608  0.948485   68
1872  2022         Cabo Verde  0.945200  0.918182   70
1873  2022               Iraq  0.926640  0.887879   70
1874  2022           China PR  0.926330  0.857576   70
1875  2022            Bolivia  0.893695  0.827273   70
1876  2022             Israel  0.831207  0.796970   71
1877  2022           Honduras  0.796716  0.766667   71
1878  2022               Oman  0.736626  0.736364   72
1879  2022            Curaçao  0.649314  0.706061   71
1880  2022             Guinea  0.640498  0.675758   71
1881  2022              Gabon  0.636554  0.645455   72
1882  2022              Benin  0.543055  0.615152   71
1883  2022             Uganda  0.537100  0.584848   71
1884  2022         Uzbekistan  0.509028  0.554545   69
1885  2022            Georgia  0.481960  0.524242   69
1886  2022              Haiti  0.458296  0.493939   68
1887  2022             Zambia  0.411585  0.463636   68
1888  2022            Bahrain  0.348943  0.433333   68
1889  2022             Jordan  0.341983  0.403030   67
1890  2022              Syria  0.294035  0.372727   67
1891  2022            Armenia  0.281971  0.342424   67
1892  2022         Luxembourg  0.257764  0.312121   68
1893  2022            Belarus  0.239977  0.281818   67
1894  2022            Lebanon  0.215230  0.251515   67
1895  2022    Kyrgyz Republic  0.214689  0.221212   67
1896  2022              Congo  0.197829  0.190909   67
1897  2022            Vietnam  0.146092  0.160606   67
1898  2022  Equatorial Guinea  0.129078  0.130303   67
1899  2022          Palestine  0.100000  0.100000   67

[100 rows x 5 columns]

Hmm that's kinda weird that the overalls are not so in order

Let's try doing it without OHE the year

# Impute the Overall without the Year

In [179]:
dataToImpute.head(5)

   Year    Points      Rank ovr
0  2004  3.100000  3.100000  88
1  2004  2.909859  3.069697  88
2  2004  2.561268  3.039394  88
4  2004  2.001408  2.978788  70
5  2004  1.990845  2.948485  85

In [180]:
from sklearn.model_selection import train_test_split
X = dataToImpute.drop(columns=['ovr', 'Year'])
y = dataToImpute['ovr']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=dataToImpute.Year)

In [181]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lm_ovr = LinearRegression()
lm_ovr.fit(X_train,y_train)
lm_predictions_ovr = lm_ovr.predict(X_test)

lin_mse = mean_squared_error(y_test, lm_predictions_ovr)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

3.3309450943226437

In [182]:
from sklearn.tree import DecisionTreeRegressor

tree_reg_ovr = DecisionTreeRegressor()
tree_reg_ovr.fit(X_train, y_train)
tree_predictions_ovr = tree_reg_ovr.predict(X_test)
tree_mse = mean_squared_error(y_test, tree_predictions_ovr)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

4.05824017898647

In [183]:
from sklearn.ensemble import RandomForestRegressor
forest_reg_ovr = RandomForestRegressor()
forest_reg_ovr.fit(X_train, y_train)
forest_predictions_ovr = forest_reg_ovr.predict(X_test)
forest_mse = mean_squared_error(y_test, forest_predictions_ovr)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

3.5539814892323123

In [184]:
toImpute = points.copy()
toImpute = toImpute.drop(columns=['Team', 'Year', 'ovr'])

overall_predictions = lm_ovr.predict(toImpute)
overall_predictions = np.round(overall_predictions)
overall_predictions

array([83., 82., 82., ..., 65., 65., 65.])

In [185]:
points['ovr'] = overall_predictions.astype(int)
points.head(2)

   Year    Team    Points      Rank  ovr
0  2004  Brazil  3.100000  3.100000   83
1  2004  France  2.909859  3.069697   82

In [186]:
points.tail(100)

      Year               Team    Points      Rank  ovr
1800  2022            Belgium  3.100000  3.100000   83
1801  2022             Brazil  3.061100  3.069697   83
1802  2022             France  2.772871  3.039394   82
1803  2022          Argentina  2.624696  3.009091   82
1804  2022            England  2.535992  2.978788   81
1805  2022              Italy  2.421922  2.948485   81
1806  2022              Spain  2.143359  2.918182   80
1807  2022           Portugal  1.799216  2.887879   80
1808  2022            Denmark  1.755058  2.857576   80
1809  2022        Netherlands  1.748794  2.827273   79
1810  2022            Germany  1.707032  2.796970   79
1811  2022             Mexico  1.703707  2.766667   79
1812  2022                USA  1.668442  2.736364   79
1813  2022        Switzerland  1.664498  2.706061   79
1814  2022            Croatia  1.493664  2.675758   78
1815  2022            Uruguay  1.441926  2.645455   78
1816  2022             Sweden  1.242478  2.615152   78
1817  2022            Senegal  1.238766  2.584848   77
1818  2022           Colombia  1.224149  2.554545   77
1819  2022              Wales  1.163209  2.524242   77
1820  2022            IR Iran  1.123613  2.493939   77
1821  2022               Peru  1.050608  2.463636   77
1822  2022              Japan  0.945200  2.433333   76
1823  2022            Morocco  0.926640  2.403030   76
1824  2022             Serbia  0.926330  2.372727   76
1825  2022              Chile  0.893695  2.342424   76
1826  2022            Ukraine  0.831207  2.312121   76
1827  2022             Poland  0.796716  2.281818   75
1828  2022     Korea Republic  0.736626  2.251515   75
1829  2022            Austria  0.649314  2.221212   75
...    ...                ...       ...       ...  ...
1870  2022           Bulgaria  1.123613  0.978788   70
1871  2022         Montenegro  1.050608  0.948485   70
1872  2022         Cabo Verde  0.945200  0.918182   70
1873  2022               Iraq  0.926640  0.887879   70
1874  2022           China PR  0.926330  0.857576   69
1875  2022            Bolivia  0.893695  0.827273   69
1876  2022             Israel  0.831207  0.796970   69
1877  2022           Honduras  0.796716  0.766667   69
1878  2022               Oman  0.736626  0.736364   69
1879  2022            Curaçao  0.649314  0.706061   68
1880  2022             Guinea  0.640498  0.675758   68
1881  2022              Gabon  0.636554  0.645455   68
1882  2022              Benin  0.543055  0.615152   68
1883  2022             Uganda  0.537100  0.584848   68
1884  2022         Uzbekistan  0.509028  0.554545   67
1885  2022            Georgia  0.481960  0.524242   67
1886  2022              Haiti  0.458296  0.493939   67
1887  2022             Zambia  0.411585  0.463636   67
1888  2022            Bahrain  0.348943  0.433333   67
1889  2022             Jordan  0.341983  0.403030   66
1890  2022              Syria  0.294035  0.372727   66
1891  2022            Armenia  0.281971  0.342424   66
1892  2022         Luxembourg  0.257764  0.312121   66
1893  2022            Belarus  0.239977  0.281818   66
1894  2022            Lebanon  0.215230  0.251515   66
1895  2022    Kyrgyz Republic  0.214689  0.221212   65
1896  2022              Congo  0.197829  0.190909   65
1897  2022            Vietnam  0.146092  0.160606   65
1898  2022  Equatorial Guinea  0.129078  0.130303   65
1899  2022          Palestine  0.100000  0.100000   65

[100 rows x 5 columns]

# Get Previous International Soccer Game Data

Get previous game data

In [210]:
game = pd.read_csv("results.csv")
game["Year"] = game.date.str[:4].astype(str) # string splice first 4 letters of entire date column

game.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876

In [211]:
game = game.drop(columns=['date', 'city', 'country', 'neutral'])
game = game.where(game['Year'] >= '2004')
game = game.dropna()
game.head(5)

,home_team,away_team,home_score,away_score,tournament,Year
26360,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,2004
26361,Bermuda,Barbados,0.0,4.0,Friendly,2004
26362,Kuwait,Yemen,4.0,0.0,Gulf Cup,2004
26363,Oman,Bahrain,0.0,1.0,Gulf Cup,2004
26364,United Arab Emirates,Qatar,0.0,0.0,Gulf Cup,2004

In [212]:
len(game)

17061

In [213]:
game["tournament"].value_counts()

Friendly                                 5957
FIFA World Cup qualification             4023
UEFA Euro qualification                  1084
African Cup of Nations qualification      744
African Cup of Nations                    357
UEFA Nations League                       308
CECAFA Cup                                278
AFC Asian Cup qualification               269
African Nations Championship              264
CFU Caribbean Cup qualification           264
FIFA World Cup                            256
Gold Cup                                  238
COSAFA Cup                                233
AFF Championship                          207
UEFA Euro                                 195
Copa América                              190
Island Games                              185
AFC Asian Cup                             179
Gulf Cup                                  136
EAFF Championship                         108
CONCACAF Nations League                   106
SAFF Cup                                  104
CONIFA World Football Cup                 101
AFC Challenge Cup                         100
AFC Challenge Cup qualification            92
CFU Caribbean Cup                          82
UNCAF Cup                                  79
WAFF Championship                          71
CONCACAF Nations League qualification      68
Confederations Cup                         64
                                         ...
Baltic Cup                                 24
ABCS Tournament                            20
Inter Games Football Tournament            19
Merdeka Tournament                         16
ELF Cup                                    16
Arab Cup qualification                     15
Nile Basin Tournament                      14
Intercontinental Cup                       14
COSAFA Cup qualification                   12
Windward Islands Tournament                12
Oceania Nations Cup qualification          12
Gold Cup qualification                     11
Malta International Tournament             10
FIFI Wild Cup                              10
VFF Cup                                     9
Mahinda Rajapaksa Cup                       7
Amílcar Cabral Cup                          6
Nations Cup                                 6
Lunar New Year Cup                          5
Copa del Pacífico                           4
OSN Cup                                     4
Navruz Cup                                  4
World Unity Cup                             4
Prime Minister's Cup                        4
Dragon Cup                                  4
Three Nations Cup                           3
AFF Championship qualification              2
Copa Paz del Chaco                          2
Atlantic Heritage Cup                       2
Copa América qualification                  2
Name: tournament, Length: 71, dtype: int64

Friendlies take up almost a third of the data...going to try building models with and without friendlies included and see which one performs the best

In [214]:
game.head(1)

      home_team     away_team  home_score  away_score tournament  Year
26360   Bahrain  Saudi Arabia         0.0         1.0   Gulf Cup  2004

In [215]:
game['score'] = game['home_score'] - game['away_score']
game['outcome'] = None
game.loc[game["score"] == 0, "outcome"] = 0
game.loc[game["score"] > 0, "outcome"] = 1
game.loc[game["score"] < 0, "outcome"] = -1
game.head(5)

,home_team,away_team,home_score,away_score,tournament,Year,score,outcome
26360,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,2004,-1.0,-1
26361,Bermuda,Barbados,0.0,4.0,Friendly,2004,-4.0,-1
26362,Kuwait,Yemen,4.0,0.0,Gulf Cup,2004,4.0,1
26363,Oman,Bahrain,0.0,1.0,Gulf Cup,2004,-1.0,-1
26364,United Arab Emirates,Qatar,0.0,0.0,Gulf Cup,2004,0.0,0

Predict if home team wins
outcome:
* 1 if home team wins
* 0 if draw
* -1 if away team wins

# Match Syntax of the Teams in Game Data with the Points and Data Teams

follow process of above

In [216]:
home = game["home_team"].unique()
away = game["away_team"].unique()
allGameTeams = list(set(home).union(set(away)))
allGameTeams.sort()
allGameTeams

['Abkhazia',
 'Afghanistan',
 'Albania',
 'Alderney',
 'Algeria',
 'American Samoa',
 'Andalusia',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Arameans Suryoye',
 'Argentina',
 'Armenia',
 'Artsakh',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barawa',
 'Barbados',
 'Basque Country',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brittany',
 'Brunei',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Canary Islands',
 'Cape Verde',
 'Cascadia',
 'Catalonia',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chagos Islands',
 'Chameria',
 'Chile',
 'China PR',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Corsica',
 'Costa Rica',
 'County of Nice',
 'Crimea',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'DR Congo',
 'Darfur',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Ellan Vannin',
 'England',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Felvidék',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Frøya',
 'Gabon',
 'Galicia',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Gotland',
 'Gozo',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Găgăuzia',
 'Haiti',
 'Hitra',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Iraqi Kurdistan',
 'Isle of Man',
 'Isle of Wight',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kabylia',
 'Kazakhstan',
 'Kenya',
 'Kernow',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Kárpátalja',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Madagascar',
 'Madrid',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Matabeleland',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Menorca',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Northern Cyprus',
 'Northern Ireland',
 'Northern Mariana Islands',
 'Norway',
 'Occitania',
 'Oman',
 'Orkney',
 'Padania',
 'Pakistan',
 'Palestine',
 'Panama',
 'Panjab',
 'Papua New Guinea',
 'Paraguay',
 'Parishes of Jersey',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Provence',
 'Puerto Rico',
 'Qatar',
 'Raetia',
 'Republic of Ireland',
 'Republic of St. Pauli',
 'Rhodes',
 'Romani people',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'Saare County',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Scotland',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Shetland',
 'Sierra Leone',
 'Silesia',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'Somaliland',
 'South Africa',
 'South Korea',
 'South Ossetia',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Surrey',
 'Sweden',
 'Switzerland',
 'Syria',
 'Székely Land',
 'Sápmi',
 'São Tomé and Príncipe',
 'Tahiti',
 'Taiwan',
 'Tajikistan',
 'Tamil Eelam',
 'Tanzania',
 'Thailand',
 'Tibet',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Two Sicilies',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Koreans in Japan',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Wales',
 'Western Armenia',
 'Western Isles',
 'Western Sahara',
 'Yemen',
 'Ynys Môn',
 'Yorkshire',
 'Zambia',
 'Zanzibar',
 'Zimbabwe',
 'Åland Islands']

look at teams in game that arent in data
of these teams, look at what teams aren't in points too

change up whatever possible to match them up
look into scraping another page or two?

In [217]:
pointsTeams = points["Team"].unique()
dataTeams = data["Team"].unique()
allGameTeamsNotInData = np.setdiff1d(allGameTeams, dataTeams)
gameTeamsNotInDataAndNotInPoints = np.setdiff1d(allGameTeamsNotInData, pointsTeams)

In [218]:
len(allGameTeamsNotInData)

241

In [219]:
dataTeams.sort()
dataTeams

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia',
       'Brazil', 'Bulgaria', 'Cameroon', 'Canada', 'Chile', 'China PR',
       'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic',
       "Côte d'Ivoire", 'Denmark', 'Ecuador', 'Egypt', 'England',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'India', 'Italy', 'Korea Republic', 'Mexico', 'Netherlands',
       'New Zealand', 'Nigeria', 'Northern Ireland', 'Norway', 'Paraguay',
       'Peru', 'Poland', 'Portugal', 'Republic of Ireland', 'Romania',
       'Russia', 'Saudi Arabia', 'Scotland', 'Serbia', 'Slovenia',
       'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Tunisia',
       'Turkey', 'USA', 'Ukraine', 'Uruguay', 'Venezuela', 'Wales'],
      dtype=object)

In [220]:
allGameTeamsNotInData

array(['Abkhazia', 'Afghanistan', 'Albania', 'Alderney', 'Algeria',
       'American Samoa', 'Andalusia', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Arameans Suryoye', 'Armenia', 'Artsakh',
       'Aruba', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barawa', 'Barbados', 'Basque Country', 'Belarus', 'Belize',
       'Benin', 'Bermuda', 'Bhutan', 'Bonaire', 'Bosnia and Herzegovina',
       'Botswana', 'British Virgin Islands', 'Brittany', 'Brunei',
       'Brunei Darussalam', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Canary Islands', 'Cape Verde', 'Cascadia', 'Catalonia',
       'Cayman Islands', 'Central African Republic', 'Chad',
       'Chagos Islands', 'Chameria', 'Comoros', 'Congo', 'Cook Islands',
       'Corsica', 'County of Nice', 'Crimea', 'Cuba', 'Curaçao', 'Cyprus',
       'DR Congo', 'Darfur', 'Djibouti', 'Dominica', 'Dominican Republic',
       'El Salvador', 'Ellan Vannin', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Falkland Islands',
       'Faroe Islands', 'Felvidék', 'Fiji', 'French Guiana', 'Frøya',
       'Gabon', 'Galicia', 'Gambia', 'Georgia', 'Ghana', 'Gibraltar',
       'Gotland', 'Gozo', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Găgăuzia', 'Haiti', 'Hitra', 'Honduras', 'Hong Kong', 'Indonesia',
       'Iran', 'Iraq', 'Iraqi Kurdistan', 'Isle of Man', 'Isle of Wight',
       'Israel', 'Ivory Coast', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kabylia', 'Kazakhstan', 'Kenya', 'Kernow', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Kárpátalja', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macau', 'Madagascar', 'Madrid', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique',
       'Matabeleland', 'Mauritania', 'Mauritius', 'Mayotte', 'Menorca',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'New Caledonia', 'Nicaragua', 'Niger', 'North Korea',
       'North Macedonia', 'Northern Cyprus', 'Northern Mariana Islands',
       'Occitania', 'Oman', 'Orkney', 'Padania', 'Pakistan', 'Palestine',
       'Panama', 'Panjab', 'Papua New Guinea', 'Parishes of Jersey',
       'Philippines', 'Provence', 'Puerto Rico', 'Qatar', 'Raetia',
       'Republic of St. Pauli', 'Rhodes', 'Romani people', 'Rwanda',
       'Réunion', 'Saare County', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Martin', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Senegal', 'Seychelles', 'Shetland', 'Sierra Leone', 'Silesia',
       'Singapore', 'Sint Maarten', 'Slovakia', 'Solomon Islands',
       'Somalia', 'Somaliland', 'South Korea', 'South Ossetia',
       'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Surrey', 'Syria',
       'Székely Land', 'Sápmi', 'São Tomé and Príncipe', 'Tahiti',
       'Taiwan', 'Tajikistan', 'Tamil Eelam', 'Tanzania', 'Thailand',
       'Tibet', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Two Sicilies', 'Uganda', 'United Arab Emirates',
       'United Koreans in Japan', 'United States',
       'United States Virgin Islands', 'Uzbekistan', 'Vanuatu',
       'Vatican City', 'Vietnam', 'Western Armenia', 'Western Isles',
       'Western Sahara', 'Yemen', 'Ynys Môn', 'Yorkshire', 'Zambia',
       'Zanzibar', 'Zimbabwe', 'Åland Islands'], dtype='<U32')

In [221]:
pointsTeams.sort()
pointsTeams

array(['Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Belarus', 'Belgium', 'Benin', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Cabo Verde',
       'Cameroon', 'Canada', 'Cape Verde Islands',
       'Central African Republic', 'Chile', 'China PR', 'Colombia',
       'Congo', 'Congo DR', 'Costa Rica', 'Croatia', 'Cuba', 'Curacao',
       'Curaçao', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Estonia', 'Ethiopia', 'FYR Macedonia',
       'Faroe Islands', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea Republic', 'Kuwait', 'Kyrgyz Republic', 'Latvia', 'Lebanon',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Mali', 'Mauritania', 'Mexico', 'Moldova', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Netherlands', 'New Zealand',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Ireland',
       'Norway', 'Oman', 'Palestine', 'Panama', 'Paraguay', 'Peru',
       'Poland', 'Portugal', 'Qatar', 'Republic of Ireland', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'St. Kitts and Nevis', 'St. Vincent and the Grenadines', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'USA',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Wales', 'Zambia',
       'Zimbabwe'], dtype=object)

In [222]:
gameTeamsNotInDataAndNotInPoints

array(['Abkhazia', 'Afghanistan', 'Alderney', 'American Samoa',
       'Andalusia', 'Andorra', 'Anguilla', 'Arameans Suryoye', 'Artsakh',
       'Aruba', 'Bahamas', 'Bangladesh', 'Barawa', 'Barbados',
       'Basque Country', 'Belize', 'Bermuda', 'Bhutan', 'Bonaire',
       'British Virgin Islands', 'Brittany', 'Brunei',
       'Brunei Darussalam', 'Burundi', 'Cambodia', 'Canary Islands',
       'Cape Verde', 'Cascadia', 'Catalonia', 'Cayman Islands', 'Chad',
       'Chagos Islands', 'Chameria', 'Comoros', 'Cook Islands', 'Corsica',
       'County of Nice', 'Crimea', 'DR Congo', 'Darfur', 'Djibouti',
       'Dominica', 'Ellan Vannin', 'Eritrea', 'Eswatini',
       'Falkland Islands', 'Felvidék', 'Fiji', 'French Guiana', 'Frøya',
       'Galicia', 'Gibraltar', 'Gotland', 'Gozo', 'Greenland',
       'Guadeloupe', 'Guam', 'Guernsey', 'Găgăuzia', 'Hitra', 'Hong Kong',
       'Iraqi Kurdistan', 'Isle of Man', 'Isle of Wight', 'Ivory Coast',
       'Jersey', 'Kabylia', 'Kernow', 'Kiribati', 'Kosovo', 'Kyrgyzstan',
       'Kárpátalja', 'Laos', 'Lesotho', 'Liechtenstein', 'Macau',
       'Madrid', 'Malaysia', 'Maldives', 'Malta', 'Martinique',
       'Matabeleland', 'Mauritius', 'Mayotte', 'Menorca', 'Monaco',
       'Mongolia', 'Montserrat', 'Myanmar', 'Nepal', 'New Caledonia',
       'Nicaragua', 'North Korea', 'Northern Cyprus',
       'Northern Mariana Islands', 'Occitania', 'Orkney', 'Padania',
       'Pakistan', 'Panjab', 'Papua New Guinea', 'Parishes of Jersey',
       'Philippines', 'Provence', 'Puerto Rico', 'Raetia',
       'Republic of St. Pauli', 'Rhodes', 'Romani people', 'Réunion',
       'Saare County', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Martin', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Seychelles', 'Shetland', 'Silesia', 'Sint Maarten',
       'Solomon Islands', 'Somalia', 'Somaliland', 'South Korea',
       'South Ossetia', 'South Sudan', 'Sri Lanka', 'Suriname', 'Surrey',
       'Székely Land', 'Sápmi', 'São Tomé and Príncipe', 'Tahiti',
       'Taiwan', 'Tajikistan', 'Tamil Eelam', 'Tanzania', 'Tibet',
       'Timor-Leste', 'Tonga', 'Turks and Caicos Islands', 'Tuvalu',
       'Two Sicilies', 'United Koreans in Japan', 'United States',
       'United States Virgin Islands', 'Vanuatu', 'Vatican City',
       'Western Armenia', 'Western Isles', 'Western Sahara', 'Yemen',
       'Ynys Môn', 'Yorkshire', 'Zanzibar', 'Åland Islands'], dtype='<U32')

Teams that need to be changed in game data
* Ivory Coast --> Côte d'Ivoire
* South Korea --> Korea Republic
* United States --> USA

Points Teams name changes
* IR Iran --> Iran

In [223]:
game.head(1)

,home_team,away_team,home_score,away_score,tournament,Year,score,outcome
26360,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,2004,-1.0,-1

In [224]:
game.loc[game["home_team"] == "Ivory Coast", "home_team"] = "Côte d'Ivoire"
game.loc[game["away_team"] == "Ivory Coast", "away_team"] = "Côte d'Ivoire"
game.loc[game["home_team"] == "South Korea", "home_team"] = "Korea Republic"
game.loc[game["away_team"] == "South Korea", "away_team"] = "Korea Republic"
game.loc[game["home_team"] == "United States", "home_team"] = "USA"
game.loc[game["away_team"] == "United States", "away_team"] = "USA"
points.loc[points["Team"] == "IR Iran", "Team"] = "Iran"

# Add in Home Team and Away Team Overall

In [225]:
game.head(1)

,home_team,away_team,home_score,away_score,tournament,Year,score,outcome
26360,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,2004,-1.0,-1

loop through game
for each team:
    check to see if there is a match in data for the team
    if not:
        check to see if there is a match in points
    if not in points and data:
        remove the row from game

In [226]:
data.head(1)

   Year    Team att mid def ovr
0  2004  France  94  89  84  88

In [227]:
game = game.reset_index() # Need to reset after getting rid of games before 2004
game['home_att'] = None
game['home_mid'] = None
game['home_def'] = None
game['home_ovr'] = None
game['away_att'] = None
game['away_mid'] = None
game['away_def'] = None
game['away_ovr'] = None
indexesToRemove = [] # keep track of rows that need to be removed
for idx in range(len(game)):
    year = int(game.at[idx, 'Year'])
    homeTeam = game.at[idx, 'home_team']
    awayTeam = game.at[idx, 'away_team']
    dataHomeMatchIdx = np.where((data['Team'] == homeTeam) & (data['Year'] == year))
    if len(dataHomeMatchIdx[0]) == 0:
        # home team is not in data
        # check if home team is in points
        pointsHomeMatchIdx = np.where((points['Team'] == homeTeam) & (points['Year'] == year))
        if len(pointsHomeMatchIdx[0]) != 0:
            # home team is in points
            # check if away team exists in data first
            dataAwayMatchIdx = np.where((data['Team'] == awayTeam) & (data['Year'] == year))
            if len(dataAwayMatchIdx[0]) == 0:
                # home team in points
                # away team is not in data
                # check if away team in points
                pointsAwayMatchIdx = np.where((points['Team'] == awayTeam) & (points['Year'] == year))
                if len(pointsAwayMatchIdx[0]) == 0:
                    # away team not in either so remove
                    #print('remove 1')
                    # REMOVE HERE
                    game = game.drop(index=idx)
                else:
                    # away team is in points
                    # home team in points
                    attHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']
                    midHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']
                    defHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']
                    ovrHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']

                    attAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                    midAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                    defAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                    ovrAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                    
                    # UPDATE DATA FRAME
                    game.at[idx, 'home_att'] = attHome
                    game.at[idx, 'home_mid'] = midHome
                    game.at[idx, 'home_def'] = defHome
                    game.at[idx, 'home_ovr'] = ovrHome
                    game.at[idx, 'away_att'] = attAway
                    game.at[idx, 'away_mid'] = midAway
                    game.at[idx, 'away_def'] = defAway
                    game.at[idx, 'away_ovr'] = ovrAway
            else:
                # away team is in data
                # home team is in points
                
                attHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']
                midHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']
                defHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']
                ovrHome = points.at[pointsHomeMatchIdx[0][0], 'ovr']

                attAway = data.at[dataAwayMatchIdx[0][0], 'att']
                midAway = data.at[dataAwayMatchIdx[0][0], 'mid']
                defAway = data.at[dataAwayMatchIdx[0][0], 'def']
                ovrAway = data.at[dataAwayMatchIdx[0][0], 'ovr']

                # update the columns in the data frame
                game.at[idx, 'home_att'] = attHome
                game.at[idx, 'home_mid'] = midHome
                game.at[idx, 'home_def'] = defHome
                game.at[idx, 'home_ovr'] = ovrHome
                game.at[idx, 'away_att'] = attAway
                game.at[idx, 'away_mid'] = midAway
                game.at[idx, 'away_def'] = defAway
                game.at[idx, 'away_ovr'] = ovrAway
        else:
            # no home team match
            #print('remove 2')
            #print(homeTeam + ", " + awayTeam)
            game = game.drop(index=idx)
         
    else:
        # home team is in data
        # now see if away team is in there too
        dataAwayMatchIdx = np.where((data['Team'] == awayTeam) & (data['Year'] == year))
        if len(dataAwayMatchIdx[0]) == 0:
            # away team not in data
            # check if away team is in points
            pointsAwayMatchIdx = np.where((points['Team'] == awayTeam) & (points['Year'] == year))
            if len(pointsAwayMatchIdx[0]) == 0:
                # away team not in either so remove
                #print('remove 3')
                game = game.drop(index=idx)
            else:
                # home team in data
                # away team in points
                attHome = data.at[dataHomeMatchIdx[0][0], 'att']
                midHome = data.at[dataHomeMatchIdx[0][0], 'mid']
                defHome = data.at[dataHomeMatchIdx[0][0], 'def']
                ovrHome = data.at[dataHomeMatchIdx[0][0], 'ovr']
            
                attAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                midAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                defAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                ovrAway = points.at[pointsAwayMatchIdx[0][0], 'ovr']
                
                # Update data frame
                game.at[idx, 'home_att'] = attHome
                game.at[idx, 'home_mid'] = midHome
                game.at[idx, 'home_def'] = defHome
                game.at[idx, 'home_ovr'] = ovrHome
                game.at[idx, 'away_att'] = attAway
                game.at[idx, 'away_mid'] = midAway
                game.at[idx, 'away_def'] = defAway
                game.at[idx, 'away_ovr'] = ovrAway
                
                
            
        else:
            # both home and away in data
            attHome = data.at[dataHomeMatchIdx[0][0], 'att']
            midHome = data.at[dataHomeMatchIdx[0][0], 'mid']
            defHome = data.at[dataHomeMatchIdx[0][0], 'def']
            ovrHome = data.at[dataHomeMatchIdx[0][0], 'ovr']
            
            attAway = data.at[dataAwayMatchIdx[0][0], 'att']
            midAway = data.at[dataAwayMatchIdx[0][0], 'mid']
            defAway = data.at[dataAwayMatchIdx[0][0], 'def']
            ovrAway = data.at[dataAwayMatchIdx[0][0], 'ovr']
            
            # update the columns in the data frame
            game.at[idx, 'home_att'] = attHome
            game.at[idx, 'home_mid'] = midHome
            game.at[idx, 'home_def'] = defHome
            game.at[idx, 'home_ovr'] = ovrHome
            game.at[idx, 'away_att'] = attAway
            game.at[idx, 'away_mid'] = midAway
            game.at[idx, 'away_def'] = defAway
            game.at[idx, 'away_ovr'] = ovrAway

In [228]:
game.head(5)

,index,home_team,away_team,home_score,away_score,tournament,Year,score,outcome,home_att,home_mid,home_def,home_ovr,away_att,away_mid,away_def,away_ovr
0,26360,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,2004,-1.0,-1,72,72,72,72,75,75,75,75
3,26363,Oman,Bahrain,0.0,1.0,Gulf Cup,2004,-1.0,-1,72,72,72,72,72,72,72,72
4,26364,United Arab Emirates,Qatar,0.0,0.0,Gulf Cup,2004,0.0,0,69,69,69,69,74,74,74,74
5,26365,Kuwait,Saudi Arabia,1.0,1.0,Gulf Cup,2004,0.0,0,73,73,73,73,75,75,75,75
7,26367,Oman,Saudi Arabia,1.0,2.0,Gulf Cup,2004,-1.0,-1,72,72,72,72,75,75,75,75

In [229]:
game["home_att"] = pd.to_numeric(game["home_att"])
game["home_mid"] = pd.to_numeric(game["home_mid"])
game["home_def"] = pd.to_numeric(game["home_def"])
game["home_ovr"] = pd.to_numeric(game["home_ovr"])
game["away_att"] = pd.to_numeric(game["away_att"])
game["away_mid"] = pd.to_numeric(game["away_mid"])
game["away_def"] = pd.to_numeric(game["away_def"])
game["away_ovr"] = pd.to_numeric(game["away_ovr"])

In [230]:
# Now let's combine the home and away attributes to be home - away
game['att'] = game['home_att'] - game['away_att']
game['mid'] = game['home_mid'] - game['away_mid']
game['def'] = game['home_def'] - game['away_def']
game['ovr'] = game['home_ovr'] - game['away_ovr']
game.head(2)

,index,home_team,away_team,home_score,away_score,tournament,Year,score,outcome,home_att,...,home_def,home_ovr,away_att,away_mid,away_def,away_ovr,att,mid,def,ovr
0,26360,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,2004,-1.0,-1,72,...,72,72,75,75,75,75,-3,-3,-3,-3
3,26363,Oman,Bahrain,0.0,1.0,Gulf Cup,2004,-1.0,-1,72,...,72,72,72,72,72,72,0,0,0,0

In [231]:
gameDrop = game.copy()
gameDrop = gameDrop.drop(columns=['index','home_team','away_team','home_score', 'away_score','score','home_att',
                                 'home_mid','home_def','home_ovr','away_att','away_mid','away_def','away_ovr' ])
gameDrop.head(2)

  tournament  Year  outcome  att  mid  def  ovr
0   Gulf Cup  2004       -1   -3   -3   -3   -3
3   Gulf Cup  2004       -1    0    0    0    0

# Modeling with All Game Data (Includes Friendlies)

In [232]:
gameWithFriendly = gameDrop.copy()
gameWithFriendly = gameWithFriendly.drop(columns=['tournament'])
gameWithFriendly.head(2)

   Year  outcome  att  mid  def  ovr
0  2004       -1   -3   -3   -3   -3
3  2004       -1    0    0    0    0

## Train/Test Split

In [233]:
from sklearn.model_selection import train_test_split
X = gameWithFriendly.drop(columns=['outcome', 'Year'])
y = gameWithFriendly['outcome']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=gameWithFriendly.Year)

## Linear Regression Model

In [234]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lm = LinearRegression()
lm.fit(X_train,y_train)
lm_predictions = lm.predict(X_test)
lm_predictions[lm_predictions <= -.1] = -1
lm_predictions[lm_predictions >= .1] = 1
lm_predictions[(lm_predictions < .1) & (lm_predictions > -.1)] = 0
lm_predictions

array([1., 1., 0., ..., 1., 1., 0.])

In [235]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, lm_predictions)

0.5129198966408268

## Decision Tree Regressor

In [236]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train, y_train)
tree_predictions = tree_reg.predict(X_test)
tree_predictions[tree_predictions <= -.1] = -1
tree_predictions[tree_predictions >= .1] = 1
tree_predictions[(tree_predictions < .1) & (tree_predictions > -.1)] = 0
accuracy_score(y_test, tree_predictions)

0.44896640826873385

## Random Forest

In [237]:
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor()
forest_reg.fit(X_train, y_train)
forest_predictions = forest_reg.predict(X_test)
forest_predictions[forest_predictions <= -.1] = -1
forest_predictions[forest_predictions >= .1] = 1
forest_predictions[(forest_predictions < .1) & (forest_predictions > -.1)] = 0
accuracy_score(y_test, forest_predictions)

0.5090439276485789

# Modeling without Friendlies

In [ ]:
# do work here

# Simulating the 2022 World Cup

doing this one with friendly model

In [213]:
groupA = ['Qatar', 'Ecuador', 'Netherlands', 'Senegal']
groupB = ['England', 'Iran', 'USA', 'Wales'] # not sure w Wales
groupC = ['Argentina', 'Poland', 'Mexico', 'Saudi Arabia']
groupD = ['France', 'Denmark', 'Tunisia', 'Peru'] # Peru not sure
groupE = ['Spain', 'Germany', 'Japan', 'Costa Rica'] # Costa rica not sure
groupF = ['Belgium', 'Canada', 'Morocco', 'Croatia']
groupG = ['Brazil', 'Serbia', 'Switzerland', 'Cameroon']
groupH = ['Portugal', 'Ghana', 'Uruguay', 'Korea Republic']

worldCupTeams = groupA + groupB + groupC + groupD + groupE + groupF + groupG + groupH

# Left side
# A1 v B2 : C2 v D2
# E1 v F2 : G1 v H2

# Right side
# D1 v C2 : B1 v A2
# F1 v E2 : G2 v H1

worldCup = pd.DataFrame(columns = ['Team', 'Points', 'Group', 'att', 'mid', 'def', 'ovr'])
idx = 0
teamsNotFound = []
for team in groupA:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'A'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    idx += 1
    
for team in groupB:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'B'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    
    idx += 1
for team in groupC:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'C'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    
    idx += 1
    
for team in groupD:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'D'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    
    idx += 1
    
for team in groupE:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'E'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    idx += 1
    
for team in groupF:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'F'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    idx += 1
    
for team in groupG:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'G'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    idx += 1
    
for team in groupH:
    worldCup.at[idx, 'Team'] = team
    worldCup.at[idx, 'Points'] = 0
    worldCup.at[idx, 'Group'] = 'H'
    dataIdx = np.where((data['Team'] == team) & (data['Year'] == 2022))
    if len(dataIdx[0]) == 0:
        # team not in data, check points
        pointsIdx = np.where((points['Team'] == team) & (points['Year'] == 2022))
        if len(pointsIdx[0]) == 0:
            teamsNotFound.append(team)
            att = 80
            mid = 80
            defRate = 80
            ovr = 80
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
        else:
            # found in points
            att = points.at[pointsIdx[0][0], 'ovr']
            mid = points.at[pointsIdx[0][0], 'ovr']
            defRate = points.at[pointsIdx[0][0], 'ovr']
            ovr = points.at[pointsIdx[0][0], 'ovr']
            worldCup.at[idx, 'att'] = att
            worldCup.at[idx, 'mid'] = mid
            worldCup.at[idx, 'def'] = defRate
            worldCup.at[idx, 'ovr'] = ovr
    else:
        # found in data
        att = data.at[dataIdx[0][0], 'att']
        mid = data.at[dataIdx[0][0], 'mid']
        defRate = data.at[dataIdx[0][0], 'def']
        ovr = data.at[dataIdx[0][0], 'ovr']
        
        worldCup.at[idx, 'att'] = att
        worldCup.at[idx, 'mid'] = mid
        worldCup.at[idx, 'def'] = defRate
        worldCup.at[idx, 'ovr'] = ovr
    idx += 1

In [214]:
teamsNotFound

[]

In [215]:
worldCup.head(5)

          Team Points Group att mid def ovr
0        Qatar      0     A  73  73  73  73
1      Ecuador      0     A  75  75  75  75
2  Netherlands      0     A  81  82  83  82
3      Senegal      0     A  74  74  74  74
4      England      0     B  86  83  83  83

In [219]:
tester = worldCup[worldCup['Team'] == 'Qatar']
tester

    Team Points Group att mid def ovr
0  Qatar      0     A  73  73  73  73

In [222]:
type(tester['att'])

pandas.core.series.Series

In [231]:
worldCup["att"] = pd.to_numeric(worldCup["att"])
worldCup["mid"] = pd.to_numeric(worldCup["mid"])
worldCup["def"] = pd.to_numeric(worldCup["def"])
worldCup["ovr"] = pd.to_numeric(worldCup["ovr"])

In [251]:
worldCup[worldCup['Team'] == 'Qatar']['Points'] = 3 + worldCup[worldCup['Team'] == 'Qatar']['Points']
worldCup.head(5)

C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

          Team Points Group  att  mid  def  ovr
0        Qatar      0     A   73   73   73   73
1      Ecuador      0     A   75   75   75   75
2  Netherlands      0     A   81   82   83   82
3      Senegal      0     A   74   74   74   74
4      England      0     B   86   83   83   83

In [257]:
worldCup.at[team1WC.index[0], 'Points'] = 0
worldCup.head(5)

          Team Points Group  att  mid  def  ovr
0        Qatar      0     A   73   73   73   73
1      Ecuador      0     A   75   75   75   75
2  Netherlands      0     A   81   82   83   82
3      Senegal      0     A   74   74   74   74
4      England      0     B   86   83   83   83

In [271]:
groupsToRun = [groupA, groupB, groupC, groupD, groupE, groupF, groupG, groupH]
for group in groupsToRun:
    for i in range(len(group)-1):
        team1 = group[i]
        team1WC = worldCup[worldCup['Team'] == team1]
        predictor = pd.DataFrame(columns = ['att', 'mid', 'def', 'ovr'])
        for j in range(i + 1, len(group)):
            team2 = group[j]
            team2WC = worldCup[worldCup['Team'] == team2]

            predictor.at[0,'att'] = team1WC['att'].get_values()[0] - team2WC['att'].get_values()[0]
            predictor.at[0,'mid'] = team1WC['mid'].get_values()[0] - team2WC['mid'].get_values()[0]
            predictor.at[0,'def'] = team1WC['def'].get_values()[0] - team2WC['def'].get_values()[0]
            predictor.at[0,'ovr'] = team1WC['ovr'].get_values()[0] - team2WC['ovr'].get_values()[0]
            predictedVal = lm.predict(predictor)
            predictedVal[predictedVal <= -.1] = -1
            predictedVal[predictedVal >= .1] = 1
            predictedVal[(predictedVal < .1) & (predictedVal > -.1)] = 0
            if predictedVal == 1:
                # team 1 wins
                worldCup.at[team1WC.index[0], 'Points'] += 3
               # worldCup.at[team1WC.index[0], 'Points'] = 0
            elif predictedVal == 0:
                # draw
                worldCup.at[team1WC.index[0], 'Points'] += 1
                worldCup.at[team2WC.index[0], 'Points'] += 1
                #worldCup.at[team1WC.index[0], 'Points'] = 0
                #worldCup.at[team2WC.index[0], 'Points'] = 0
            else:
                # team 2 wins
                worldCup.at[team2WC.index[0], 'Points'] += 3
                #worldCup.at[team2WC.index[0], 'Points'] = 0

In [272]:
worldCup

              Team Points Group  att  mid  def  ovr
0            Qatar      4     A   73   73   73   73
1          Ecuador      4     A   75   75   75   75
2      Netherlands      9     A   81   82   83   82
3          Senegal      0     A   74   74   74   74
4          England      9     B   86   83   83   83
5             Iran      6     B   75   75   75   75
6              USA      3     B   75   75   74   75
7            Wales      0     B   74   74   72   74
8        Argentina      9     C   86   81   81   83
9           Poland      6     C   81   74   75   77
10          Mexico      3     C   80   78   74   77
11    Saudi Arabia      0     C   74   74   74   74
12          France      9     D   85   86   83   85
13         Denmark      6     D   77   78   79   79
14         Tunisia      3     D   73   73   73   73
15            Peru      0     D   74   74   74   74
16           Spain      7     E   83   85   83   84
17         Germany      7     E   83   85   80   85
18           Japan      3     E   76   76   76   76
19      Costa Rica      0     E   74   74   74   74
20         Belgium      9     F   83   82   80   83
21          Canada      4     F   75   73   70   73
22         Morocco      1     F   76   76   76   76
23         Croatia      2     F   79   79   79   79
24          Brazil      9     G   80   80   80   80
25          Serbia      4     G   74   74   74   74
26     Switzerland      4     G   79   79   79   79
27        Cameroon      0     G   73   73   73   73
28        Portugal      9     H   85   83   85   84
29           Ghana      2     H   71   71   71   71
30         Uruguay      4     H   76   76   76   76
31  Korea Republic      1     H   75   75   75   75

In [ ]:
# maybe just use points

In [264]:
points.tail(100)

      Year               Team    Points      Rank  ovr
1800  2022            Belgium  0.164516  0.004827   83
1801  2022             Brazil  0.164063  0.009653   82
1802  2022             France  0.160710  0.014480   84
1803  2022          Argentina  0.158986  0.019307   82
1804  2022            England  0.157954  0.024133   81
1805  2022              Italy  0.156627  0.028960   82
1806  2022              Spain  0.153386  0.033786   83
1807  2022           Portugal  0.149382  0.038613   83
1808  2022            Denmark  0.148868  0.043440   80
1809  2022        Netherlands  0.148795  0.048266   82
1810  2022            Germany  0.148309  0.053093   83
1811  2022             Mexico  0.148271  0.057920   79
1812  2022                USA  0.147860  0.062746   79
1813  2022        Switzerland  0.147815  0.067573   79
1814  2022            Croatia  0.145827  0.072400   79
1815  2022            Uruguay  0.145225  0.077226   76
1816  2022             Sweden  0.142905  0.082053   76
1817  2022            Senegal  0.142861  0.086880   74
1818  2022           Colombia  0.142691  0.091706   77
1819  2022              Wales  0.141982  0.096533   74
1820  2022               Iran  0.141522  0.101359   75
1821  2022               Peru  0.140672  0.106186   74
1822  2022              Japan  0.139446  0.111013   76
1823  2022            Morocco  0.139230  0.115839   76
1824  2022             Serbia  0.139226  0.120666   74
1825  2022              Chile  0.138847  0.125493   75
1826  2022            Ukraine  0.138120  0.130319   76
1827  2022             Poland  0.137718  0.135146   76
1828  2022     Korea Republic  0.137019  0.139973   75
1829  2022            Austria  0.136003  0.144799   76
...    ...                ...       ...       ...  ...
1870  2022           Bulgaria  0.143818  0.130628   71
1871  2022         Montenegro  0.143542  0.132467   70
1872  2022         Cabo Verde  0.142900  0.134307   71
1873  2022               Iraq  0.141677  0.136147   72
1874  2022           China PR  0.140434  0.137987   71
1875  2022            Bolivia  0.139825  0.139827   74
1876  2022             Israel  0.139674  0.141666   74
1877  2022           Honduras  0.139381  0.143506   74
1878  2022               Oman  0.139064  0.145346   74
1879  2022            Curaçao  0.138785  0.147186   72
1880  2022             Guinea  0.138164  0.149026   73
1881  2022              Gabon  0.137958  0.150866   73
1882  2022              Benin  0.137090  0.152705   74
1883  2022             Uganda  0.136732  0.154545   74
1884  2022         Uzbekistan  0.136501  0.156385   74
1885  2022            Georgia  0.135669  0.158225   73
1886  2022              Haiti  0.135542  0.160065   74
1887  2022             Zambia  0.135178  0.161905   74
1888  2022            Bahrain  0.135068  0.163744   74
1889  2022             Jordan  0.134665  0.165584   73
1890  2022              Syria  0.133743  0.167424   72
1891  2022            Armenia  0.132783  0.169264   72
1892  2022         Luxembourg  0.132165  0.171104   72
1893  2022            Belarus  0.131842  0.172943   73
1894  2022            Lebanon  0.131365  0.174783   71
1895  2022    Kyrgyz Republic  0.131335  0.176623   70
1896  2022              Congo  0.130556  0.178463   71
1897  2022            Vietnam  0.130251  0.180303   73
1898  2022  Equatorial Guinea  0.129345  0.182143   73
1899  2022          Palestine  0.129220  0.183982   72

[100 rows x 5 columns]

## 3. Data Preperation and EDA

In [4]:
# Drop data from before 2004 as don't have any metrics
import numpy as np
game = game.where(game['Year'] >= '2004')
game = game.dropna()
game.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year
26360,2004-01-01,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004
26361,2004-01-01,Bermuda,Barbados,0.0,4.0,Friendly,Hamilton,Bermuda,0.0,2004
26362,2004-01-01,Kuwait,Yemen,4.0,0.0,Gulf Cup,Kuwait City,Kuwait,0.0,2004
26363,2004-01-03,Oman,Bahrain,0.0,1.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004
26364,2004-01-03,United Arab Emirates,Qatar,0.0,0.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004

In [5]:
game.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17061 entries, 26360 to 43420
Data columns (total 10 columns):
date          17061 non-null object
home_team     17061 non-null object
away_team     17061 non-null object
home_score    17061 non-null float64
away_score    17061 non-null float64
tournament    17061 non-null object
city          17061 non-null object
country       17061 non-null object
neutral       17061 non-null float64
Year          17061 non-null object
dtypes: float64(3), object(7)
memory usage: 1.4+ MB

In [6]:
game["Year"].value_counts()

2019    1156
2008    1095
2021    1086
2011    1083
2004    1066
2012    1007
2015    1003
2007     975
2013     968
2017     958
2016     928
2009     912
2018     908
2014     860
2010     854
2006     832
2005     799
2020     299
2022     272
Name: Year, dtype: int64

In [7]:
game["tournament"].value_counts()

Friendly                                 5957
FIFA World Cup qualification             4023
UEFA Euro qualification                  1084
African Cup of Nations qualification      744
African Cup of Nations                    357
UEFA Nations League                       308
CECAFA Cup                                278
AFC Asian Cup qualification               269
African Nations Championship              264
CFU Caribbean Cup qualification           264
FIFA World Cup                            256
Gold Cup                                  238
COSAFA Cup                                233
AFF Championship                          207
UEFA Euro                                 195
Copa América                              190
Island Games                              185
AFC Asian Cup                             179
Gulf Cup                                  136
EAFF Championship                         108
CONCACAF Nations League                   106
SAFF Cup                                  104
CONIFA World Football Cup                 101
AFC Challenge Cup                         100
AFC Challenge Cup qualification            92
CFU Caribbean Cup                          82
UNCAF Cup                                  79
WAFF Championship                          71
CONCACAF Nations League qualification      68
Confederations Cup                         64
                                         ...
South Pacific Games                        24
ABCS Tournament                            20
Inter Games Football Tournament            19
Merdeka Tournament                         16
ELF Cup                                    16
Arab Cup qualification                     15
Intercontinental Cup                       14
Nile Basin Tournament                      14
COSAFA Cup qualification                   12
Windward Islands Tournament                12
Oceania Nations Cup qualification          12
Gold Cup qualification                     11
FIFI Wild Cup                              10
Malta International Tournament             10
VFF Cup                                     9
Mahinda Rajapaksa Cup                       7
Amílcar Cabral Cup                          6
Nations Cup                                 6
Lunar New Year Cup                          5
Copa del Pacífico                           4
OSN Cup                                     4
World Unity Cup                             4
Navruz Cup                                  4
Dragon Cup                                  4
Prime Minister's Cup                        4
Three Nations Cup                           3
Copa Paz del Chaco                          2
AFF Championship qualification              2
Copa América qualification                  2
Atlantic Heritage Cup                       2
Name: tournament, Length: 71, dtype: int64

# World Cup Bracket Breakdown

In [212]:
groupA = ['Qatar', 'Ecuador', 'Netherlands', 'Senegal']
groupB = ['England', 'Iran', 'USA', 'Wales'] # not sure w Wales
groupC = ['Argentina', 'Poland', 'Mexico', 'Saudi Arabia']
groupD = ['France', 'Denmark', 'Tunisia', 'Peru'] # Peru not sure
groupE = ['Spain', 'Germany', 'Japan', 'Costa Rica'] # Costa rica not sure
groupF = ['Belgium', 'Canada', 'Morocco', 'Croatia']
groupG = ['Brazil', 'Serbia', 'Switzerland', 'Cameroon']
groupH = ['Portugal', 'Ghana', 'Uruguay', 'Korea Republic']

worldCupTeams = groupA + groupB + groupC + groupD + groupE + groupF + groupG + groupH

# Left side
# A1 v B2 : C2 v D2
# E1 v F2 : G1 v H2

# Right side
# D1 v C2 : B1 v A2
# F1 v E2 : G2 v H1

In [110]:
worldCupTeams

['Qatar',
 'Ecuador',
 'Netherlands',
 'Senegal',
 'England',
 'Iran',
 'USA',
 'Wales',
 'Argentina',
 'Poland',
 'Mexico',
 'Saudi Arabia',
 'France',
 'Denmark',
 'Tunisia',
 'Peru',
 'Spain',
 'Germany',
 'Japan',
 'Costa Rica',
 'Belgium',
 'Canada',
 'Morocco',
 'Croatia',
 'Brazil',
 'Serbia',
 'Switzerland',
 'Cameroon',
 'Portugal',
 'Ghana',
 'Uruguay',
 'Korea Republic']

# THIS ONE WORKS

In [98]:
# Need to use the driver: https://stackoverflow.com/questions/52687372/beautifulsoup-not-returning-complete-html-of-the-page
import time
from bs4 import BeautifulSoup
from selenium import webdriver

driver = webdriver.Chrome(executable_path=r"C:/Users/Kyle/Downloads/chromedriver_win32/chromedriver.exe")
driver.get(url)
time.sleep(3) #if you want to wait 3 seconds for the page to load
#driver.find_element_by_link_text("I'm OK with that").click()
#driver.find_element_by_xpath('//button[normalize-space()=I'm OK with that]').click()
driver.find_element_by_xpath("//button[@id='onetrust-accept-btn-handler']").click()
page_source = driver.page_source
soup = BeautifulSoup(page_source, 'lxml')
#print(soup.prettify())

s = soup.find_all('tr', class_='fc-ranking-item-full_rankingTableFullRow__1nbp7')
# print(s)
rankedTeams = []

# for link in soup.findAll('tr', class_='fc-ranking-item-full_rankingTableFullRow__1nbp7'):
#         print(link.get('onclick'))
for line in s:
    # Each line contains the container for a team
    teamName = line.find('span', class_='d-none d-lg-block')
    teamName = teamName.text
    rankedTeams.append(teamName)
    teamPoints = line.find('div', class_="d-flex ff-mr-16")

#driver.find_elements_by_xpath('//*[@id="content"]/main/section[2]/div/div/div[2]/div/div/div/div/div[2]/div[2]').click()
# driver.find_element_by_css_selector()
#python_button.click()
driver.find_element_by_xpath("//div[@aria-label='Go to Page 2']").click()
page_source = driver.page_source
soup2 = BeautifulSoup(page_source, 'lxml')
#print(soup2.prettify())
s = soup2.find_all('tr', class_='fc-ranking-item-full_rankingTableFullRow__1nbp7')
for line in s:
    # Each line contains the container for a team
    teamName = line.find('span', class_='d-none d-lg-block')
    teamName = teamName.text
    rankedTeams.append(teamName)
    teamPoints = line.find('div', class_="d-flex ff-mr-16")

C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Kyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead

In [99]:
rankedTeams

['Brazil',
 'Belgium',
 'France',
 'Argentina',
 'England',
 'Italy',
 'Spain',
 'Portugal',
 'Mexico',
 'Netherlands',
 'Denmark',
 'Germany',
 'Uruguay',
 'Switzerland',
 'USA',
 'Croatia',
 'Colombia',
 'Wales',
 'Sweden',
 'Senegal',
 'IR Iran',
 'Peru',
 'Japan',
 'Morocco',
 'Serbia',
 'Poland',
 'Ukraine',
 'Chile',
 'Korea Republic',
 'Nigeria',
 'Costa Rica',
 'Egypt',
 'Czech Republic',
 'Austria',
 'Tunisia',
 'Russia',
 'Cameroon',
 'Canada',
 'Scotland',
 'Hungary',
 'Norway',
 'Australia',
 'Turkey',
 'Algeria',
 'Slovakia',
 'Ecuador',
 'Republic of Ireland',
 'Romania',
 'Saudi Arabia',
 'Paraguay',
 'Qatar',
 'Mali',
 "Côte d'Ivoire",
 'Northern Ireland',
 'Greece',
 'Burkina Faso',
 'Finland',
 'Venezuela',
 'Bosnia and Herzegovina',
 'Ghana',
 'Panama',
 'North Macedonia',
 'Iceland',
 'Jamaica',
 'Slovenia',
 'Albania',
 'Congo DR',
 'United Arab Emirates',
 'South Africa',
 'Montenegro',
 'Cabo Verde',
 'Iraq',
 'Bulgaria',
 'El Salvador',
 'Oman',
 'Israel',
 'China PR',
 'Bolivia',
 'Curaçao',
 'Guinea',
 'Gabon',
 'Honduras',
 'Uzbekistan',
 'Benin',
 'Georgia',
 'Uganda',
 'Zambia',
 'Syria',
 'Bahrain',
 'Haiti',
 'Jordan',
 'Armenia',
 'Belarus',
 'Luxembourg',
 'Kyrgyz Republic',
 'Vietnam',
 'Lebanon',
 'Congo',
 'Equatorial Guinea',
 'Palestine']

# Current Work

In [100]:
game.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year
26360,2004-01-01,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004
26361,2004-01-01,Bermuda,Barbados,0.0,4.0,Friendly,Hamilton,Bermuda,0.0,2004
26362,2004-01-01,Kuwait,Yemen,4.0,0.0,Gulf Cup,Kuwait City,Kuwait,0.0,2004
26363,2004-01-03,Oman,Bahrain,0.0,1.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004
26364,2004-01-03,United Arab Emirates,Qatar,0.0,0.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004

In [191]:
home = game["home_team"].unique()
away = game["away_team"].unique()
allTeams = list(set(home).union(set(away)))
allTeams.sort()
allTeams

['Abkhazia',
 'Afghanistan',
 'Albania',
 'Alderney',
 'Algeria',
 'American Samoa',
 'Andalusia',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Arameans Suryoye',
 'Argentina',
 'Armenia',
 'Artsakh',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barawa',
 'Barbados',
 'Basque Country',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brittany',
 'Brunei',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Canary Islands',
 'Cape Verde',
 'Cascadia',
 'Catalonia',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chagos Islands',
 'Chameria',
 'Chile',
 'China PR',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Corsica',
 'Costa Rica',
 'County of Nice',
 'Crimea',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'DR Congo',
 'Darfur',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Ellan Vannin',
 'England',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Felvidék',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Frøya',
 'Gabon',
 'Galicia',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Gotland',
 'Gozo',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Găgăuzia',
 'Haiti',
 'Hitra',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Iraqi Kurdistan',
 'Isle of Man',
 'Isle of Wight',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kabylia',
 'Kazakhstan',
 'Kenya',
 'Kernow',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Kárpátalja',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Madagascar',
 'Madrid',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Matabeleland',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Menorca',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Northern Cyprus',
 'Northern Ireland',
 'Northern Mariana Islands',
 'Norway',
 'Occitania',
 'Oman',
 'Orkney',
 'Padania',
 'Pakistan',
 'Palestine',
 'Panama',
 'Panjab',
 'Papua New Guinea',
 'Paraguay',
 'Parishes of Jersey',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Provence',
 'Puerto Rico',
 'Qatar',
 'Raetia',
 'Republic of Ireland',
 'Republic of St. Pauli',
 'Rhodes',
 'Romani people',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'Saare County',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Scotland',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Shetland',
 'Sierra Leone',
 'Silesia',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'Somaliland',
 'South Africa',
 'South Korea',
 'South Ossetia',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Surrey',
 'Sweden',
 'Switzerland',
 'Syria',
 'Székely Land',
 'Sápmi',
 'São Tomé and Príncipe',
 'Tahiti',
 'Taiwan',
 'Tajikistan',
 'Tamil Eelam',
 'Tanzania',
 'Thailand',
 'Tibet',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Two Sicilies',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Koreans in Japan',
 'United States',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Wales',
 'Western Armenia',
 'Western Isles',
 'Western Sahara',
 'Yemen',
 'Ynys Môn',
 'Yorkshire',
 'Zambia',
 'Zanzibar',
 'Zimbabwe',
 'Åland Islands']

In [108]:
len(allTeams)

295

In [113]:
missingTeams = set(worldCupTeams).difference(set(rankedTeams))
missingTeams

{'Iran'}

# Save the Model

In [238]:
import pickle
# open a file, where you ant to store the data
file = open('world_cup_model.pkl', 'wb')

# dump information to that file
pickle.dump(lm, file)

## 4. Feature Engineering and Feature Selection

## 5. Model Training and Model Evaluation

## 6. Hyperparameter Tuning and Evaluation

## 7. Prediction

## 8. References

[1] Deploying Machine Learning Model Using Heroku. https://datamahadev.com/deploying-machine-learning-model-using-heroku/

[2] Using Machine Learning to Simulate World Cup Matches. https://towardsdatascience.com/using-machine-learning-to-simulate-world-cup-matches-959e24d0731

[3] World Cup 2018 Prediction. https://www.kaggle.com/code/agostontorok/soccer-world-cup-2018-winner